/* CSS starts below */

/* Styling */
body {
    font-family: 'Nunito';
}

h1, h2, h3, h4{
    font-weight: 800;
    padding-bottom: 1rem;
}

h5 {
    font-weight: bold;
}

h6 {
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.svc-h2,.svc-h4 {
    color: #525b7c;
}



/* Buttons */
.btn {
    border-style: none;
    border-radius: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.btn-primary {
    background-color: #a278dc;
    /* border-style: none;
    border-radius: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; */
}

.footer-btn {
    display: flex;
    flex-direction: column;
}

.btn-secondary {
    margin-top: 1rem;
    background-color:#116333;
}

.btn-grey {
    background-color: lightgrey;
    border-radius: 0%;
}

/* HOMEPAGE */
/* Hero section */
.hero {
  background-image: url(../images/home-hero-banner.png);
  background-position: 100%;
  height: 754px;                   
  padding: 2rem;
  color: white;
}


 /*Services section */
.services {
   height: auto;
   padding-top: 5rem;
   padding-bottom: 5rem;
}

.svc-box {
    padding-bottom: 10rem;
}

.icon-1, .icon-2, .icon-3 {
    padding-top: 4rem;
}

/* About Section */
#about {
    background-color: #525b7c;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.home-image {
    width: 100%;
    height: auto;
    padding-top: 5rem;
    margin: auto;
}

/* SERVICES PAGE */
/* Hero section */
.hero-s {
    background-image: url(../images/services-hero-banner-mb.png);
    background-size: cover;
    height: 353px;
    color: white;
    padding: 4rem;
}

/* ABOUT PAGE */
/* Values section */
.about-image {
    width: 100%;
    height: auto;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
}

#values {
    padding-top: 5rem;
}

/* CONTACT PAGE */
#contact {
    color: white;
    background-image: url(../images/home-hero-banner.png);
    padding: 2.5rem;
}

.contact-img {
    width: 100%;
    height: 40rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}


/* Get In Touch section */
.git {
    background-color: #525b7c;
    color: white;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Footer Section */
footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

footer p {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#h5-fb {
    color: #3b5998;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
}

#h5-ig {
    color: #d0358e;
    padding-bottom: 1.5rem;
}

#h5-em {
   color: #00a79d;
}

/* Media QUERY */
/* Services section
.services-a {
    background-color: #e6e6e6;
} */
